h1 {
  color: blue;
  font-family:"Helvetica";
  margin: 0;
}


#menu1 {
  color: blue;
  font-family:"Helvetica";
  height: auto;
  width: 350px;
  text-align: center;
}


#menu1 a{
  color: blue;
  display:block;
  text-decoration: none;
  padding-top: 33px;
  padding-bottom:33px;
  border: 1px solid transparent;
}

.fotos{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 28vw;
  height: 28vw;
  }

.fotoss{
    display: none;
    position: absolute;
    width: 48vw;

    }

.fixed2{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.loading{
    position: fixed;
    top:0%;
    left: 0%;
    width: 100vw;
    height:100vh;
    background: white;
    z-index: 2;
}

.cerchio{
  width: 100px;
  animation: rotazione 1s infinite linear;
}

@keyframes rotazione {
  from {transform: translate(-50%, -50%) rotate(0deg) ;}
  to{transform: translate(-50%, -50%) rotate(360deg);}
}

.centro {
  position: absolute;
  transform: translate(-50% ,-50%);
  top: 50%;
  left: 50%;
}


.titolo {
  width: 350px;
  font-family:"Helvetica";
  text-align: center;
  margin: 0;
}


#menu1 a:hover{
  border: 1px solid orange;
  border-radius: 50%;

}

body {

}
